{% extends 'list.html' %} {% load static %} {% block columns %}
<tr>
    <th scope="col" style="width: 15%;">Período</th>
    <th scope="col" style="width: 30%;">Impuesto</th>
    <th scope="col" style="width: 10%;">Cuit D</th>
    <th scope="col" style="width: 10%;">Cuit H</th>
    <th scope="col" style="width: 15%;">Fecha</th>
    <th scope="col" style="width: 20%;">Opciones</th>
</tr>
{% endblock %} {% block rows %} 
{% for obj in object_list %}
<tr>
    <td>{{ obj.periodo|date:'F Y' }}</td>
    <td>{{ obj.impuesto }}</td>
    <td>{{ obj.cuit_d }}</td>
    <td>{{ obj.cuit_h }}</td>
    <td>{{ obj.fecha|date:'d/m/Y' }}</td>
    <td class="text-center">
        <a href="{% url 'vencimientos:vi_update' obj.id %}" class="btn btn-warning btn-xs btn-flat">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'vencimientos:vi_delete' obj.id %}" class="btn btn-danger btn-xs btn-flat">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>
{% endfor %} {% endblock %}