{% extends 'list.html' %} {% load static %} {% block columns %}
<tr>
    <th scope="col" style="width: 18%;">Período</th>
    <th scope="col" style="width: 25%;">Impuesto</th>
    <th scope="col" style="width: 27%;">Impuesto</th>
    <th scope="col" style="width: 10%;">Fecha</th>
    <th scope="col" style="width: 20%;">Opciones</th>
</tr>
{% endblock %} {% block rows %} {% for obj in object_list %}
<tr>
    <td>{{ obj.periodo|date:'F Y' }}</td>
    <td>{{ obj.impuesto }}</td>
    <td>{{ obj.empresa }}</td>
    <td>{{ obj.fecha|date:'d/m/Y' }}</td>
    <td class="text-center">
        <a href="{% url 'vencimientos:ve_update' obj.id %}" class="btn btn-warning btn-xs btn-flat">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'vencimientos:ve_delete' obj.id %}" class="btn btn-danger btn-xs btn-flat">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>
{% endfor %} {% endblock %}